# Ignore all CSV files
*.csv

# Ignore all Excel files
*.xlsx

# Ignore all PDF files
*.pdf

# Ignore specific directories
/Data/
/Results/

# Ignore specific files
README.md
Rplot1.pdf

# Ignore files starting with 'model '
'model *'

# Ignore files starting with 'LR Test '
'LR Test *'

# Ignore files starting with 'Comparison '
'Comparison *'

# Ignore files ending with '_new' or '_new2'
*_new.*
*_new2.*

# Ignore files starting with 'Delta_'
Delta_*

# Ignore files starting with 'HistDailyData'
HistDailyData*




